/* line 17, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colours */
/* Measurements */
/* Font weight */
/* Mixins */
/* Global */
/* line 35, ../../sass/_base.scss */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 22pt;
}

/* line 41, ../../sass/_base.scss */
body {
  min-height: 100%;
  background-color: #d6ccb6;
}

/* line 46, ../../sass/_base.scss */
h1 {
  font-size: 28pt;
  line-height: 44pt;
}

/* line 50, ../../sass/_base.scss */
h2 {
  font-size: 19.6pt;
  line-height: 30.8pt;
}

/* line 54, ../../sass/_base.scss */
h3 {
  color: #235448;
  font-weight: 600;
  margin-bottom: -8.8pt;
  margin-top: 8.8pt;
}

/* line 62, ../../sass/_base.scss */
#vibelogContent, #siteTitle, ul.navigation {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* line 67, ../../sass/_base.scss */
em {
  font-style: italic;
}

/* line 71, ../../sass/_base.scss */
ul {
  list-style: circle inside;
}

/* line 75, ../../sass/_base.scss */
ol {
  list-style: decimal outside;
}

/* line 79, ../../sass/_base.scss */
code {
  font-family: monospace;
  font-size: 12.6pt;
  line-height: 12.6pt;
}

/* line 85, ../../sass/_base.scss */
pre {
  line-height: 12.6pt;
}

/* Links */
/* line 90, ../../sass/_base.scss */
a {
  color: #333330;
}

/* line 94, ../../sass/_base.scss */
a:visited {
  color: #666660;
}

/* line 98, ../../sass/_base.scss */
a:hover {
  color: #235448;
}

/* Nav bar */
/* line 104, ../../sass/_base.scss */
nav#siteNav {
  width: 100%;
  background-color: #2e4370;
}

/* line 109, ../../sass/_base.scss */
ul.navigation {
  display: block;
}

/* line 113, ../../sass/_base.scss */
li.navItem {
  margin-right: 1em;
  list-style-type: none;
  display: inline;
}

/* line 119, ../../sass/_base.scss */
li.navItem a {
  color: #e4e4e7;
  font-weight: 600;
  text-decoration: none;
  font-size: 11.2pt;
  line-height: 17.6pt;
}

/* line 126, ../../sass/_base.scss */
li.navItem a:hover {
  color: white;
}

/* Header */
/* line 132, ../../sass/_base.scss */
header#pageHeader {
  background-color: #333330;
  color: #d0d0d0;
  width: 100%;
  font-weight: 600;
}

/* line 139, ../../sass/_base.scss */
#pageHeader a {
  text-decoration: none;
  color: #d0d0d0;
}

/* line 144, ../../sass/_base.scss */
#pageHeader a:hover {
  color: #e4e4e7;
}

/* line 148, ../../sass/_base.scss */
#preTitle {
  font-size: 11.2pt;
  line-height: 17.6pt;
  margin-bottom: -11pt;
}

/* Blog content */
/* line 156, ../../sass/_base.scss */
#mainColumn {
  left: 120px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
}

/* line 164, ../../sass/_base.scss */
main {
  display: block;
  background-color: #d6ccb6;
  min-width: 200px;
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
}

/* Blog list headers */
/* line 179, ../../sass/_base.scss */
header h2 a {
  color: black;
  text-decoration: none;
}

/* line 184, ../../sass/_base.scss */
header h2 a:visited {
  color: #333330;
}

/* line 188, ../../sass/_base.scss */
header h2 a:hover {
  color: #235448;
}

/* Blog post text */
/* line 194, ../../sass/_base.scss */
.blogPostHeaderText {
  font-size: smaller;
  font-style: italic;
  color: #235448;
}

/* line 200, ../../sass/_base.scss */
.blogPostDate {
  display: block;
}

/* line 204, ../../sass/_base.scss */
.blogPostContent p {
  color: black;
  margin-top: 11pt;
  margin-bottom: 11pt;
}

/* Blog footer */
/* line 211, ../../sass/_base.scss */
.blogPost footer, .blogSinglePost footer {
  font-size: smaller;
  font-style: italic;
}

/* Blog list footer */
/* line 218, ../../sass/_base.scss */
.pageNumbers {
  margin-top: 0.5em;
  font-size: smaller;
}

/* Blog comments */
/* line 225, ../../sass/_base.scss */
.comments {
  margin-top: 0.5em;
}

/* line 229, ../../sass/_base.scss */
.comments h2 {
  font-style: italic;
}

/* line 233, ../../sass/_base.scss */
.comment {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 238, ../../sass/_base.scss */
.commentHeader {
  font-style: italic;
  font-size: smaller;
  color: #235448;
}

/* line 244, ../../sass/_base.scss */
.commentContent {
  padding-top: 0.2em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 0.2em;
}

/* line 251, ../../sass/_base.scss */
.comment-form {
  width: 100%;
  padding-top: 0.2em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 0.2em;
}

/* line 259, ../../sass/_base.scss */
.comment-form textarea {
  width: 100%;
}
