/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #222222;
    min-height: 100%;
}

/* Links */

a {
    color: #333330;
}

a:visited {
    color: #666660;
}

a:hover {
    color: #315423;
}

/* Nav bar */

nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 120px;
    background-color: #315423;
    color: #cccccc;
}

ul.navigation {
    display: block;
    position: static;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}


li.navItem {
    font-weight: bold;
    margin: 4px;
    margin-left: 1em;
    list-style-type: none;
}

/* Header */

#maincolumn {
    position: absolute;
    left: 120px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-height: 100%;
}

#maincolumn > header {
    background-color: #333330;
    color: #cccccc;
}

#siteTitle {
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* Blog content */

main {
    display: block;
    background-color: #bcb3a0;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    padding: 1.5em;
}

#pageTitle {
    //margin-left: 0.5em;
}

#vibelogContent,#pageTitle {
    max-width: 35em;
    margin-left: 2em;
    margin-right: 2em;
}

/* Blog list headers */

header h2 a {
    color: #000000;
    text-decoration: none;
}

header h2 a:visited {
    color: #333330;
}

header h2 a:hover {
    color: #315423;
}

/* Blog post text */

.blogPostHeaderText {
    font-size: smaller;
    font-style: italic;
    color: #235448;
}

.blogPostDate {
    display: block;
    float: right;
}

.blogPostContent p {
    color: #000000;
    margin: 0.5em;
    line-height: 1.5em;
    //font-size: larger;
}

/* Blog footer */

.blogPost footer,.blogSinglePost footer {
    font-size: smaller;
    font-style: italic;
}

/* Blog list footer */

.pageNumbers {
    margin-top: 0.5em;
    font-size: smaller;
}

/* Blog comments */

.comments {
    margin-top: 0.5em;
}

.comments h2 {
    font-style: italic;
}

.comment {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.commentHeader {
    font-style: italic;
    font-size: smaller;
    color: #235448;
}

.commentContent {
    padding-top: 0.2em;
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

.comment-form {
    width: 100%;
    padding-top: 0.2em;
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

.comment-form textarea {
    width: 100%;
}
